/* 引入字体 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* 全局样式 */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5; /* 背景颜色 */
  padding: 20px;
}

h2 {
  color: #333; /* 文字颜色 */
}

/* 按钮样式 */
button {
  background-color: #5cb6f1; /* 蓝色 */
  color: #fff; /* 文字颜色 */
  border: none;
  padding: 10px 20px; /* 按钮大小 */
  border-radius: 5px; /* 圆角 */
  cursor: pointer;
  margin-right: 10px; /* 按钮之间的右边距 */
}

/* 选择框样式 */
select {
  background-color: #f3f3f3; /* 灰色背景 */
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

/* 标签样式 */
label {
  color: #555; /* 标签文字颜色 */
  margin-right: 5px;
  margin-top: 10px;
  display: block;
}

/* 文件列表样式 */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px; /* 列表项之间的下边距 */
}

/* 加载已缓存文本按钮样式 */
#loadSavedButton {
  background-color: #ff8cb8; /* 红色 */
}
/* 输入框样式 */
input[type="file"] {
    background-color: #f3f3f3; /* 灰色背景 */
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px; /* 右边距，保持和按钮一致 */
    width: 200px; /* 输入框宽度 */
  }
  
#textDiv{
  position: fixed;
  bottom: -1px;
  left: 0px;
  height: 21px;
  width: auto;
  background :rgb(222,225,230);
  border : 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  line-height: 21px;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(102,106,109);
}